html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header nav {
    width: 90%;
    margin: 0px auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flexbox;
    background-color: #49a4f5;
    color: #ffffff;
    padding: 10px 0;
}

header h1 {
    margin: 30px auto 20px;
    font-size: 40px;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 25px;
    font-size: 20px;
    line-height: 1.5;
    white-space: nowrap;
    line-height: 1.6;
}

li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

p {
    color: black;
    font-size: 18px;
}

button {
    height: 50px;
    width: auto;
}

@media screen and (max-width:510px){
    img {
        width: 100px;
        height: auto;
    }

    #barrainicial {
        width: 50%;
        margin: 0px auto;
    }

    div ul {
        display: none;
    }

    #barrasecundaria {
        display: none;
    }

    #barraterciaria {
        width: 250px;
        margin: 0px auto;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header nav {
        width: 70%;
    }

    nav h1 {
        margin: 10px auto 10px;
        font-size: 32px;
    }

    li {
        font-size: 18px;
    }

    .olimpiadas {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width:511px) and (max-width:600px){
    img {
        width: 110px;
        height: auto;
    }
    
    #barrainicial {
        width: 60%;
        margin: 0px auto;
    }

    div ul {
        display: none;
    }

    #barrasecundaria {
        width: 80%;
        margin: 0px auto;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #barraterciaria {
        display: none;
    }

    header nav {
        margin-left: 50px;
    }

    nav h1 {
        margin: 15px auto 20px;
        font-size: 33px;
    }

    li {
        font-size: 18px;
    }

    .olimpiadas {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width:601px) and (max-width:710px){
    img {
        width: 120px;
        height: auto;
    }
    
    #barrainicial {
        width: 70%;
        margin: 0px auto;
    }

    div ul {
        display: none;
    }

    #barrasecundaria {
        width: 80%;
        margin: 0px auto;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #barraterciaria {
        display: none;
    }

    nav {
        margin-left: 50px;
    }

    nav h1 {
        margin: 15px auto 20px;
        font-size: 35px;
    }

    .olimpiadas {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width:711px) and (max-width:920px){
    img {
        width: 150px;
        height: auto;
    }

    #barrainicial {
        width: 70%;
        margin: 0px auto;
    }    

    #barrasecundaria {
        display: none
    }

    #barraterciaria {
        display: none;
    }

    .olimpiadas {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width:921px) and (max-width:1100px){
    img {
        width: 150px;
        height: auto;
    }

    #barrainicial {
        width: 70%;
        margin: 0px auto;
    }    

    #barrasecundaria {
        display: none
    }

    #barraterciaria {
        display: none;
    }

    .olimpiadas {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width:1101px){
    img {
        width: 170px;
        height: auto;
    }
    
    #barrainicial {
        width: 70%;
        margin: 0px auto;
    }    

    #barrasecundaria {
        display: none
    }

    #barraterciaria {
        display: none;
    }

    .olimpiadas {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.olimpiadas {
    margin: 30px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.olimpiadas h1 {
    margin: 0px;
    font-size: 32px;
}

form {
    width: 80%;
    margin-left: 9%;
    margin-right: 11%;
    display: none;
    margin-top: 40px;
}

form h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

form label {
    font-size: 20px;
}

form input {
    margin-top: 5px;
    margin-bottom: 20px;
}

#selecionar {
    margin-bottom: 20px;
}

#inscrito {
    display: none;
}

#admin {
    display: none;
}

#prof {
    display: none;
}

#nav-admin {
    display: none;
    height: auto;
    padding-top: 20px;
}

#nav-prof {
    display: none;
    height: auto;
    padding-top: 20px;
}

@media screen and (max-width:510px){
    .olimpiadas h1 {
        font-size: 26px;
    }
    .olimpiadas h2 {
        font-size: 20px;
    }
}

table { 
    border-collapse: collapse;
}

th,td { 
    border: 1px solid #000;
    padding: 8px; 
    text-align: center;
}

th {
    font-size: 18px;
}

td {
    font-size: 15px;
}

#prof01 {
    display: none;
}

#contato {
    list-style-type: none;
    padding: 0;
}

#contato li {
    margin-bottom: 10px;
    display: flex;
}

#contato a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease;
}

#contato a:hover {
    transform: scale(1.1);
}

#instagram a::before {
    content: '\1F4F7';
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

#whatsapp a::before {
    content: '\1F4DE';
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

#email a::before {
    content: '\1F4E7';
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

#nav-aluno{
    display: none;
}

#aluno{
    display: none;
}

#prova1 {
    display: none;
}

#prova2 {
    display: none;
}

#prova3 {
    display: none;
}

#prova4 {
    display: none;
}

#gabarito {
    display: none;
}

#answer-sheet {
    display: block;
    margin-left: 0px;
    padding-left: 30px;
    max-width: 350px;
}

.question {
    display: flex;
}

textarea {
    max-width: 350px;
}     

@media screen and (max-width:450px){
    #answer-sheet {
        max-width: 350px;
    }

    textarea {
        max-width: 250px;
    }     
}
@media screen and (min-width:450px) and (max-width:600px){
    textarea {
        max-width: 300px;
    }     
}

#nav-corretor {
    display: none;
}
